<div class="clearfix">
  <%= render "shared/search_form", obj: @works.first %>
  <%= render "shared/left_field", post: @post %>
  <div class="right-field">
    <%= render 'shared/work_table', works: @works %>
    <%= paginate @works %>
  </div>
</div>


