<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>URLリンク</th>
      <th>カテゴリー</th>
      <th></th>
    </tr>
  </thead>
  <tbody class='post-table'> 
    <%= render 'shared/post_table', posts: posts %>
  </tbody>
</table>
<%= paginate posts %>

