<div class="right-field">
  <%= render "shared/user_profile", user: user %>
  <h3>イチゲイ</h3>
  <% if user.posts.count != 0 %>
    <%= render "shared/post_index_field", user: user, posts: @user.posts.page(params[:page]).per(15).order(created_at: :desc)%>
  <% end %>
</div>