<div class="main-content">
   <h1 class="main-title">
     contact
   </h1>
   <div class="top-content">
     <h3>twitter</h3>
     <p>アカウント名：K-Iwashtia <br><a href="https://twitter.com/k__rits">アカウントリンク</a></p>
     <h3>Github</h3>
     <p>アカウント名：K-Iwashtia <br> <a href="https://github.com/k-iwashita">アカウントリンク</a></p>
   </div>
</div>