<div class="main-content">
   <h1 class="main-title">
     Ichigei
   </h1>
   <div class="top-content">
     <p>みんなが持っている<span class='ichigei'>イチゲイ</span>。<br>それを登録して、他の人の悩みを解決できます。
     <br>仕事完了後にもらえるポイントを使って、今度は自分がみんなに困っていることを解決してもらうこともできます。</p>
   </div>
</div>