/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap"; 

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
 }

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  margin: 0 auto;
  width: 90%;
  height: 120px;
  position: relative;
}

.logo {
  position: absolute;
  width: 15%;
  display: inline-block;
  font-weight: bold;
  color: black;
  top: 40px;
  background-color: ghostwhite ;
  text-align: center;
}

.logo a {
  color: black;
  font-size: 50px;
}

.header-nav {
  position: absolute;
  top: 60px;
  right: 5%;
  display: inline-block;
  width: 75%;
}

.nav-list {
  margin:0 0 0 auto;
  overflow: hidden;
}

.nav-list li {
  width: 200px;
  text-align: center;
  background-color: ghostwhite;
  display: inline-block;
}

.nav-list li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

 main {
   width: 90%;
   text-align: center;
   margin: 0 auto;
 }
