/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap"; 

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
 }

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  margin: 0 auto;
  height: 100px;
  position: relative;
}

.header-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.logo {
  position: absolute;
  width: 15%;
  float: left;
  font-weight: bold;
  color: black;
  top: 20px;
  background-color: rgb(228, 228, 253) ;
  text-align: center;
  border-radius: 10px;
}

.logo a {
  color: black;
  font-size: 50px;
}

.header-nav {
  position: absolute;
  top: 40px;
  right: 5%;
  float: left;
  width: 75%;
}

.nav-list {
  width: 95%;
  margin-left: 5%;
  overflow: hidden;
}

.nav-list li {
  width: 200px;
  text-align: center;
  background-color: rgb(228, 228, 253);
  display: inline-block;
  border-radius: 5px;
}

.nav-list li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

footer{
  height: 100px;
}

 main {
   margin: 10px auto;
   padding: 10px 0;
   border-top: 5px solid  #f3f1f3;
   border-bottom: 5px solid #f3f1f3;
 }

h2, h3 {
  font-weight: bold;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

 .profile_image {
  border-radius: 50%; 
 }

 .field {
   margin-bottom: 10px;
 }

 .button {
   background-color: ghostwhite;
   display: inline-block;
   font-weight: bold;
 }

 #user-prolile-image {
   background-color: ghostwhite;
   display: inline-block;
   font-weight: bold;
 }

 .left-field  {
   width: 30%;
   float: left;
 }

 .right-field {
  float: left;
  width: 70%;
 } 
 

 .links {
   margin-top: 20px;
 }

 .links a {
   background-color: gainsboro;
   display: inline-block;
   color: black;
   border-radius: 5px;
   padding: 2px;
   margin-bottom: 2px;
 }

 .profile-content {
   margin-bottom: 15px;
 }

 .profile-label {
   font-weight: bold;
 }

 .profile-item {
   display: inline-block;
   width: 95%;
   margin-left: 20px;
   word-break: break-all;
 }

 .portfolio-tsuika {
   margin-left: 50px;
   background-color: gainsboro;
   font-weight: bold;
   color: black;
   padding: 5px;
   border-radius: 5px;
 }
 
 .portfolio-content {
   padding-bottom: 5px;
   margin-bottom: 20px;
   border-bottom: 2px solid #c7c3c7;

 }